
API_ID=24168862
API_HASH=916a9424dd1e58ab7955001ccc0172b3
BOT_TOKEN=7893968605:AAF-6FaNBlsRr8nQXOEpUYPSY7_-mNTCixQ
BOT_USERNAME=ZeemusicBot
LOG_GROUP_ID=-1002023049910
MONGO_DB_URI=mongodb+srv://jaydipmore74:xCpTm5OPAfRKYnif@cluster0.5jo18.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6421770811
STRING_SESSION=
